pluralsight-course/crourse-info/course-info-cli/target/maven-archiver/pom.properties
pluralsight-course/crourse-info/course-info-cli/target/classes/*

pluralsight-course/crourse-info/course-info-repository/target/classes/*

